*{
    padding: 0;
    margin: 0;
}
body{
    background-color: rgb(49, 45, 45);
}
main{
    width: 100%;
    text-align: center;
}
h1{
    font-family: 'Courier New', Courier, monospace;
    color: #fff;
    max-width: 30rem;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15%;
}
h1::after{
    content: '|';
    animation: blink 1s infinite;
}
footer{
    width: 100%;
    padding: 1rem;
    position: fixed;
    bottom: 0;
    background-color: rgb(236, 235, 235);
}
footer p{
    color: #a90ae7;
    font-size: 1.2rem;
    font-weight: lighter;
    word-spacing: 2px;
    letter-spacing: 1.5px;
    text-align: center;
}
/*animacao*/
@keyframes blink{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}